<section id="" class="single">
  <div class="container">
    <div class="row">
          <div class="col-md-12">
            <div class="portfolio-item">
              <h1 class="h1-bg center">{{ page.title}}</h1>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">First name</label>
                    <div class="col-sm-10">
                      <input type="first_name" class="form-control" id="inputEmail3" placeholder="First name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last name</label>
                    <div class="col-sm-10">
                      <input type="last_name" class="form-control" id="inputEmail3" placeholder="Last name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Phone number</label>
                    <div class="col-sm-10">
                      <input type="phone" class="form-control" id="inputPassword3" placeholder="Phone number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Organization</label>
                    <div class="col-sm-10">
                      <input type="org" class="form-control" id="inputEmail3" placeholder="Organization">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Contact Method</label>
                      <div class="col-sm-10">
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            email
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Postal mail
                          </label>
                        </div>
                        <div class="radio disabled">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                            Phone
                          </label>
                        </div>
                        <div class="radio disabled">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                            Text message
                          </label>
                        </div>
                        <div class="radio disabled">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option5">
                            Other
                          </label>
                        </div>
                       </div> 
                      </div> 
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Other information</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" placeholder="Is there anything else you'd like us to know?"></textarea>
                    </div>
                  </div> 
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                  </div>
                </form>
            </div>
         </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

