<section id="start-camp" class="single">
  <div class="container">
    <div class="row">
          <div class="col-md-12">
            <div class="portfolio-item center text">
              <ul>
              <!--
                {% for post in site.posts %}
                  {% if post.category == "start_camp" %}
                    <li>
                      <img class="img-responsive center-block" src="{{ post.image }}">
                      <div class="post"><a href="{{ post.url }}">{{ post.title }}</a></div>
                      <div class="post">{{ post.content | truncatewords:75 }}</div>
                      <a href="{{ post.url }}" class="btn btn-dark">Read More</a>
                    </li>
                    {% endif %}
                {% endfor %}
                -->
                {% for post in site.categories.learn %}
                  <div>
                    <img class="img-responsive center-block post" src="{{ post.image }}">
                    <div class="h1-bg"><h2>{{ post.title }}</h2></div>
                    <div class="post">{{ post.content }}</div>
                  </div>
                {% endfor %}  
              </ul>
              <a href="rates_index.html" class="btn btn-lg btn-dark">Rates</a>
            </div>
         </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
