<section id="photos" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center h2">
        <div class="col-md-6">
          <div class="portfolio-item">
            <a href="#">
              <h3>Photos and Vidoes</h3>
              <img class="img-portfolio img-responsive" src="/img/upside_down.jpg">
            </a>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="photos.html" class="btn btn-dark">View More</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
