<section id="start-camp" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center h2">
        <h1>Start Camp</h1>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item h2">
              <ul>
                {% for  post in site.categories.start_camp %}
                  <li>
                    <a href="{{ start_camp.url }}"><h3>{{ start_camp.title }}</h3>
                    <img class="img-portfolio img-responsive" src="{{ start_camp.image }}">
                    </a>
                    {{ start_camp.excerpt }}
                  </li>
                {% endfor %}                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
